.the_comments
  &--reset
    margin:  0
    padding: 0

    *
      margin:  0
      padding: 0

    ol
      list-style: none outside none

    li
      position: relative
      list-style: none outside none

  &--trap
    margin:  0
    padding: 0

    height:   0.1px
    opacity:  0.001
    overflow: hidden
    filter:   alpha(opacity=0.001)

  &--form_holder
    border-left: 5px solid #0078e7

  &--nested_set
    border-left: 5px solid #eee

  &--reply_holder
    font-size: 13px

    a
      color: #ddd

    a:hover
      color: #0078e7
      text-decoration: none

  &--new-comment-link
    color: #333

    &:hover
      color: #f00

  &--draft
    border-radius: 3px
    background: #fff
    border: 1px dashed #fead85

  &--published
    background: #fff
    border-radius: 3px
    border: 1px solid #eee

  &--highlighted
    border: 1px solid #ff0a60
